<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.feliek.LaunchBar.action.RMBConvert</string>
	<key>CFBundleName</key>
	<string>人民币大写转换</string>
	<key>LBAbbreviation</key>
	<string>cny</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Sihan</string>
		<key>LBEmail</key>
		<string>wolf.mb@gmail.com</string>
		<key>LBTwitter</key>
		<string>@Sihan007</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Sihan001/lbActions</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>人民币大写转换</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9+</string>
</dict>
</plist>
