<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>67BE2A80-D1E6-4A47-B82A-E140CBA759A0.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.sihan.LaunchBar.action.DoubanMusic</string>
	<key>CFBundleName</key>
	<string>Douban Music</string>
	<key>LBAbbreviation</key>
	<string>music</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Sihan</string>
		<key>LBEmail</key>
		<string>wolf.mb@gmail.com</string>
		<key>LBTwitter</key>
		<string>@Sihan007</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Sihan001/lbActions</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
</dict>
</plist>
